.box-nav {
    background-color: #000000;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0), 0 2px 4px -2px rgb(0 0 0);
}

.title-small {
    margin-left: 40px;
    letter-spacing: 2.5px;
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    font-size: 30px;
    line-height: 28px;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
        color: rgb(3 105 161);
    }

    50% {
        color: rgb(29, 145, 207);
    }
}

.ul-nav {
    display: flex;
    align-items: center;
    color: rgb(251 191 36);
}

.li-nav {
    margin-right: 56px;
}

@media only screen and (max-width: 1000px) {
    .li-nav {
        margin-right: 45px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 850px) {
    .box-nav {
        justify-content: center;
    }

    .title-small {
        position: absolute;
        margin-left: 0px;
        font-size: 30px;
        margin: 4px;
    }

    .li-nav {
        margin-top: 55px;
        margin-right: 30px;
        margin-left: 30px;
    }
}